// CLASSES FOR TEXT

.text-gray {
    color: $color-gray;
}

.text-white {
    color: $color-white;
}

.h1-bold {
    font-size: 2.2em;    
    font-weight: 900;
    font-family: $montserrat;
    span {
        font-size: 2em;
    }
    margin: 0;    
}

.h2-bold {
    font-size: 2em;
    font-weight: 400;
    font-family: $montserrat;
    span {
        font-weight: 900;
    }
}

.h3-title {
    font-size: 1.8em;
    font-family: $montserrat;
}

.text-m {
    font-size: 1.5em;
    font-family: $montserrat;
}

.text-sm {
    font-size: 1em;
    font-family: $montserrat;
}

.text-xsm {
    font-size: 0.8em;
    font-family: $montserrat;
}


.bold {
    font-weight: bold;
}

.medium {
    font-weight: 700;
}

.aling-end {
    text-align: end;
}

// SPACES 

