// COLORS

$color-blue: #0178BD;
$color-white: #FFF;

// SECONDARY COLORS

$color-gray: #5c5c5b;
$color-gray-two: #666666;
$color-black: #000000;
$color-gray-dark: #4b4b4d;

//TEXT

$montserrat: 'Montserrat', sans-serif;

//HOVER
$color-btn-gray-hover: #424141;
$color-btn-white-hover: rgb(199, 197, 197);