// HOME

.representante-diferenciais {
    height: 300px;
    flex-direction: row ;
    padding: 0;

    .column {
        width: 50%;
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .column-left {
        
        align-items: flex-end;
        flex-direction: column;
        padding-right: 80px;
    }

    .column-right {
        align-items: flex-start;
        flex-direction: column;
        padding-left: 80px;
    }
}

@media (max-width: 768px) {
    .representante-diferenciais {
        flex-direction: column;
        height: fit-content;

        .column {
            width: 100%;
            height: fit-content;
            padding: 32px 0;
            align-items: center;
            text-align: center;
            background-image: url();
        }
    }
}