// HOME

section.doubts {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .doubts-container {
        justify-content: space-between;
    }
}