section.produto {
    div.produto-container {

        justify-content: space-between;

        .produto-info-container {
            .content-produto {
                .content {

                    p, li {
                        font-family: $montserrat;
                    }

                    p {
                        margin: 12px 0;
                    }

                    ul {
                        margin-bottom: 32px;
                        list-style: circle !important;
                    }

                    p {
                        font-weight: 700;
                        color: $color-gray;
                    }

                    p:first-child {
                        font-weight: 400;
                    }
                }

                height: 100%;
                justify-content: space-between;

                a.back {
                    color: $color-gray;
                    font-weight: bold;
                }
                
            }

        }

        .imagens-container {

            gap: 8px;

            .imagen-container {
                order: 2;
                    a {
                        img {
                            width: 500px;
                            height: 500px;
                            object-fit: cover;
                        }
                    } 
                }
                
        }

        .galeria {
            ul {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                gap: 12px;
                width: 100px;
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    height: 100px;
                    width: 100%;

                    a {
                        width: 100%;
                            height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}


// Estilos para Lightbox

.lightbox-carousel div.carousel-inner div.carousel-item.active .ratio  img {
    background-color: $color-gray-two;    
}


// Reponsive

@media (max-width:992px) {
    .produto-container {
        flex-direction: column;
        row-gap: 32px;

        .produto-info-container {
            order: 2;
            justify-content: center;
            justify-items: center;
            
            text-align: center;
        }

        .imagens-container {
            justify-content: center;
            width: 100% !important;
            .imagen-container {
                width: 80% !important;
                a {
                    img {
                    width: 100% !important;
                }
                }
                
            }

            .galeria {
                width: 20%;
                ul {
                    width: 100% !important;
                    li {
                        height: calc(100% / 5) !important;
                    }
                }
            }
        }
    }

    div.mais-products {
        overflow: auto;

        h2 {
            text-align: center;
            

        }
        
        .mais-produtos-item {
            span {
                font-size:  calc(0.5em + 1vw);
            }
        }
    }
    
    .download-button {
        margin: 64px 0;
        width: 100%;

        a {
            font-size:  calc(0.5em + 1vw);
        }
    }

}