// GERAL
//--------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $font;
}

//DISPLAY

.primary-container {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: fit-content;
    padding: 32px 0;

    .secondary-container {
        margin: 0 auto;
        width: 100%;
        max-width: 98vw;
        height: fit-content;
    }

    &.primary-container--products {
        max-width: 100%;
        width: 1250px;
        align-items: initial;
        margin: auto;
        gap: 18px;
        @media screen and (min-width: 800px) {
            width: 1440px;
        }
    }
}
