// DEFAULT THEME
//--------------------------------------
$color-blue: #0178BD;
$color-white: #FFFFFF;

// ALL COLORS
//--------------------------------------
$color-black: #3A3A3A;

// TEXT
//--------------------------------------
$font: 'Lato', sans-serif;


// COLORS FORMULÁRIOS
//--------------------------------------



// TRANSITIONS AND TRANSFORM
//--------------------------------------

