/*
Theme Name:     Capsutec
Theme URI:      https://github.com/diegog-ux10/capsutec.com.br
Author:         Diego Granados - Nailen Aguiar
Author URI:     https://github.com/diegog-ux10
Template:     	storefront
Description:  	E-Commerce
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
*/

/*
 * Add your own custom css below this text.
 */

 // ESSENCIAIS

 @import "essenciais/geral.scss";
 @import "essenciais/variaveis.scss";
 @import "essenciais/classes.scss";

 // LAYOUT

 @import "layout/container.scss";

 // COMPONENTES

 // PAGINAS