// CONTAINERS
// ----------

.full-container {
    width: 100%;
    height: fit-content;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

@media (max-width: 1200px) {
    .full-container {
        padding-left: 8px;
        padding-right: 8px;
    }    
}

.content-container-m {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content-container-l {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 1440px) {
    .content-container-l {
        max-width: 1200px;
    }
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}