// FOOTER

footer {
    z-index: 10;
    
    .secondary-container {
        padding: 32px 0;
    }

    .footer-top {
        justify-content: space-between;

        .footer-top-right-container {
            display: flex;
            gap: 32px;
            align-items: center;
        }

    }

    .footer-bottom {
        border-top: solid 1px #c8c8d2;
        justify-content: space-between;
        .footer-bottom-right-container {
            img {
                vertical-align: -webkit-baseline-middle;
            }

            span {
                vertical-align: -webkit-baseline-middle;
            }
        }
    }
}

@media (max-width: 1200px) {

    footer {
        div.footer-top {
            flex-direction: column;
            gap: 12px;

            div.footer-top-right-container {
                justify-content: center;
            }

            div.footer-top-left-container {
                text-align: center;
            }
        }

        div.footer-bottom {
            flex-direction: column;
            gap: 12px;

            div.footer-bottom-right-container {
                text-align: center;
            }

            div.footer-bottom-left-container {
                text-align: center;
            }
        }
    }
}